<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classified Ads</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <h1>Classified Ads</h1>

        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/create">Create Ad</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Ads Platform • Version {{ APP_VERSION }}</p>
        <p><a href="https://sbcode.net" target="_blank" rel="noopener noreferrer">SBCODE Tutorials</a></p>
        <p>Copyright © 2019-2026 Sean Bradley</p>
    </footer>
</body>

</html>
